

<div>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Keywords</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
        </thead>

    <tbody>

        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productTitle}}</td>
            <td>{{product.keywords}}</td>
            <td>{{product.description}}</td>
            <td>{{product.rating}}</td>
        </tr>


    </tbody>

    </table>


</div>



<button (click)="renderProducts()">Show Products</button>