<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Keywords</th>
                <th>Rating</th>
                <th>Price</th>
                <th>Stock</th>
                <th>op1</th>
            </tr>
        </thead>
    
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productTitle}}</td>
            <td>{{product.description}}</td>
            <td>{{product.keywords}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.price.price}}</td>
            <td>{{product.stock.stock}}</td>
            <span *ngIf="user==='admin'">
                <td><a [routerLink]="['/add-product/edit',product.productId]"><button>Edit</button></a></td>
                <td><button (click)="deleteProduct(product.productId)">Remove</button></td>
            </span>
           
            <span *ngIf="user!=='admin'">
                <td><button (click)="addToCart(product.productId)">Add to cart</button></td>
            </span>
            
        </tr>
    </tbody>
</table>
</div>