<div class="col-6">
    <form [formGroup]="productForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
            <label class="form-control-label" for="productName">Product Name</label>
            <input formControlName="productTitle" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="description">Description</label>
            <textarea type="text" class="form-control" id="productName" formControlName="description"></textarea>               
        </div>

        <div class="form-group">
            <label class="form-control-label" for="keywords">keywords</label>
            <textarea type="text" class="form-control" id="productName" formControlName="keywords"></textarea>               
        </div>

        <div class="form-group">
            <label class="form-control-label" for="rating">Rating</label>
            <input type="text" class="form-control" id="productName" formControlName="rating"/>               
        </div>

        <div formGroupName="stock">
            <label class="form-control-label" for="stock">Stock</label>
            <input type="text" class="form-control"  formControlName="stock"/>               
        </div>

        <div formGroupName="price">
            <label class="form-control-label" for="price">Price</label>
            <input type="text" class="form-control"  formControlName="price"/>               
        </div>
        <div>
            <label>Select Category</label>
            <select formControlName="categoryId" (change)="handleCategoryChange()">
                <option [value]=category.categoryId *ngFor="let category of categories">{{category.categoryTitle}}</option>
            </select>
        </div>

        <div>
            <label>Select Brands</label>
            <select formControlName="brandId">
                <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandTitle}}</option>
            </select>
        </div>

        <div *ngIf="productId==0">
           <button>Save</button>
        </div>

        <div *ngIf="productId!=0">
            <button>Edit</button>
         </div>

        

    </form>


</div>