
<div>
    <h3>Shopping Basket</h3>
    <input type="checkbox" (change)="selectAll()" [checked]="isAllSelected"/>Select All Items
</div>

<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Item Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems; let i=index">
                    <input type="checkbox" (change)="selectItem(i)" [checked]="selectedItems[i]"/>
                    <td>{{cartItem.productTitle}}</td>
                    <td><select [(ngModel)]="cartItem.qty" (change)="recalculateTotal()">
         
                        <option *ngFor="let num of[1,2,3,4,5,6,7,8,9]">{{num}}</option>
                        <option>10+</option>
        
        
                    </select></td>
                    <td>{{cartItem.price}}</td>
                    <td>{{cartItem.qty * (cartItem?.price || 0)}}</td>
                </tr>
                <tr>
                    <th class="text-center" colspan="3">Total</th>
                    <th  class="">{{total}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body text-center">
            <h6>Subtotal  ({{getSelectedItemsCount()}} item(s)): £ {{this.getSelectedItemsTotal()}}</h6> <hr/>
            <span><button (click)="checkoutselectedItems()">Proceed to Checkout</button></span>
            </div>
        </div>
    </div>
</div>

