
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Item Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartItem of cartItems">
            <td>{{cartItem.productTitle}}</td>
            <td>{{cartItem.qty}}</td>
            <td>{{cartItem.price}}</td>
            <td>{{cartItem.qty * cartItem.price}}</td>
        </tr>
        <tr>
            <th colspan="3">Total</th>
            <th  class="">{{total}}</th>
        </tr>
    </tbody>
</table>
